.cart-no
{
    position: absolute;
    top: -12px;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    border-radius: 50%;
    color: white;
    text-align: center;
    background-color: blue;
    right: -12px;
}