<div class=" fixed-top bg-white py-1">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" >
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
          <span class="fs-4">Pricing example</span>
        </a>
    
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          <a class="me-3 py-2" [routerLink]="'/shop'" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Shop</a>
          <a class="me-3 py-2" routerLink="/contact" routerLinkActive="active">Contact</a>
          <a class="py-2 link-body-emphasis text-decoration-none" href="#">Pricing</a>
        </nav>
        <div class="d-flex align-items-center">
            <a href="" class="position-relative mx-2">
                <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
                <div class="cart-no">5</div>
            </a>
            <a class="btn btn-outline-primary mx-2" href="#">SignUp</a>
            <a class="btn btn-outline-primary mx-2" href="#">Login</a>
        </div>
      </div>
</div>